<% content_for :body_class do %>about<% end %>

<main class="about">
  <h1>Make Bank</h1>

  <h2>About</h2>

  <p>Make Bank breaks down barriers between people and financial products. We seek to connect
people to the tools that will allow them to manage their money and enable them to work toward a
more secure financial future.</p>

  <p>Make Bank does not contain information about every bank in New York City. Instead, we aggregate, filter and make information available about bank accounts that we believe are fairly-priced, accessible and convenient for people across all income levels. In an effort to keep our site as bias-free as possible, we do not accept advertisements or profit off this site in any way. And while we try to keep the information here as accurate as possible, there are only a few us behind the scenes! So we strongly recommend you call to verify things before you go to a bank or sign up for a bank account. If you are a bank and want to help us keep your information up-to-date, please contact us here.</p>

  <p>If you want to get in touch for any other reason, <span class="email" data-email="melanie.duchONgmailDOTcom">contact us here</span>. We would love to hear from you!</p>

  <h2>Acknowledgements</h2>

  <p>This is an entirely volunteer-run website and it would not exist without the hard work of a bunch of awesome folks who generously donated their time and talents.</p>
  <a>Melanie Kwon Duch</a><br>
  <a href="http://kylejwarren.com">Kyle Warren</a><br>
  <a>Gabriela Scarritt</a>
</main>
