<main>
  <form class="search">
    <div class="search-bar">
      <!-- <input type="text" name="query" class="query" placeholder="Search for a bank..." /> -->
      <input type="text" name="address" class="address" placeholder="Find a bank near the address..." />
      <button class="search-button"><span></span></button>
    </div>

    <div class="search-panel">
      <label>
        <span>How low would your bank account go every month?</span>
        <input type="number" name="mb" placeholder="0.00" />
      </label>

      <label>
        <span>How much could you put in your account today?</span>
        <input type="number" name="od_of" placeholder="0.00" />
        <input type="checkbox" name="of" />
      </label>

      <label>
        <span>Do you have a US-issued government ID?</span>
        <input type="checkbox" name="gid" />
      </label>

      <label>
        <span>Do you have a Social Security Number?</span>
        <input type="checkbox" name="ssn" />
      </label>

      <label>
        <span>Do you have an ITIN?</span>
        <input type="checkbox" name="itin" />
      </label>

      <label>
        <span>Usted preferre un banko que pa Español?</span>
        <input type="checkbox" name="spanish" />
      </label>

      <label>
        <span>Are you looking for a SafeStart account?</span>
        <input type="checkbox" name="safe_stop" />
      </label>
    </div>

  </form>

  <div class="bank-list">

  </div>
</main>

<div class="g-map"><div></div></div>
<div class="g-map-frame"></div>
<div class="g-map-blur"></div>

