<% content_for :body_class do %>index<% end %>

<main class="index">
  <h1>Make Bank</h1>

  <form class="search">
    <div class="search-bar">
      <!-- <input type="text" name="query" class="query" placeholder="Search for a bank..." /> -->
      <input type="text" name="address" class="address" placeholder="Find a bank near the address..." />
      <button class="search-button"><span></span></button>
    </div>

    <button class="search-panel-open">Or tell us what you're looking for.</button>

    <div style="display: none;" class="search-panel">
      <label>
        <span>How low would your bank account go every month?</span>
        <span class="currency">$<input type="number" name="mb" placeholder="0.00" /></span>
      </label>

      <label>
        <span>How much could you put in your account today?</span>
        <span class="currency">$<input type="number" name="od_of" placeholder="0.00" /></span>
        <input style="display: none;" type="checkbox" name="of" />
      </label>

      <label>
        <span>Do you have a US-issued government ID?</span>
        <select name="gid" class="yesno">
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </label>

      <label>
        <span>Do you have a Social Security Number?</span>
        <select name="ssn" class="yesno">
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </label>

      <label>
        <span>Do you have an ITIN?</span>
        <select name="itin" class="yesno">
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </label>

      <label>
        <span>Usted preferre un banko que pa Español?</span>
        <select name="spanish" class="yesno">
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </label>

      <label>
        <span>Are you looking for a SafeStart account?</span>
        <select name="safe_stop" class="yesno">
          <option value="1">Yes</option>
          <option value="0" selected>No</option>
        </select>
      </label>

      <div class="search-panel-hide">
        <a>hide questions</a>
      </div>
    </div>

  </form>

  <div class="bank-list">

  </div>

  <div class="footer">
    <%= link_to "About Make Bank", :about, target: :blank %>
  </div>
</main>

<div class="g-map"><div></div></div>
<div class="g-map-frame"></div>
<div class="g-map-blur"></div>

