<div class="modal-content">
  <div class="modal-title">Hello! Welcome to Make Bank!</div>
  <div class="modal-text">Which language would you like to use?</div>
  <div class="modal-choices">
    <button class="choice-ok">English</button>
    <button class="choice-other">Español</button>
  </div>
</div>

