/* Kyle's reset */
html, body, input {
  margin: 0;
  padding: 0;
}
html, body, h1, h2, h3, h4, div, p, a, a:visited {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: 150%;
  text-decoration: inherit;
  color: inherit;
}

/* clearfix */
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}.clearfix{display:inline-block;}html[xmlns] .clearfix{display:block;}* html .clearfix{height:1%;}div.clearfix{display:block;}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
}

/* colors */

$ok-color: #6FC113;
$nice-color: #3892E3;
$option-color: #F39F10;
$soft-color: #666;

@mixin ok-gradient {
  background-image: linear-gradient(#9BCD63, #6FC113);
}
@mixin option-gradient {
  background-image: linear-gradient(#F8AA26, #F39F10);
}

@mixin text-impress {
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.5);
}
@mixin text-impress-small {
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
}

@mixin floating-box-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}


/* standardization */
button {
  margin: 0;
  border: none;
  outline: none;
}
