
$mapFrameWidth: 495px;
$mapFrameHeight: 600px;

h1 {
  position: relative;
  font-size: 48px;
  width: 1000px;
  margin: 0 auto;
  z-index: 10;
  text-shadow: 0 0 10px #fff;
}

main {
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -500px;
  width: 500px;
  z-index: 10;
}

.search {
  .query {
    width: 980px;
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    box-shadow: 0 0 10px #000;
    &:focus {
      outline: none;
      box-shadow: 0 0 15px #009;
    }
  }
}

.g-map {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  > div {
    height: 100%;
    width: 100%;
  }
}
.g-map-frame {
  position: fixed;
  top: 112px;
  left: 50%;
  margin-left: 5px;
  width: $mapFrameWidth;
  height: $mapFrameHeight;
  z-index: 1;
}
.g-map-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: $mapFrameWidth;
  height: $mapFrameHeight;
  border: 0px solid #000;
  opacity: 0.3;
  z-index: 3;
  display: none;
}

.bank-row {
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 14px;
  background: white;
  box-shadow: 0 0 5px #000;
}

