<form>
  <div>
    <label>Name</label>
    <input type="text" name="name" placeholder="Name" value="<%= name %>" />
  </div>

  <div>
    <label>Info</label>
    <textarea name="info"><%= info %></textarea>
  </div>

  <input type="submit" value="Save" />
</form>

