<form class="uploader" enctype="multipart/form-data">
  <h3>Upload a UTF-8 encoded CSV File</h3>
  <input type="file" name="csv" accept="text/csv" /><br />
  <input type="submit" value="Import" />
</form>

