<main>
  <nav>
    <div>Navigation</div>
    <% Admin::AdminController::MODELS.each do |model| %>
      <%= link_to model, [:admin, model] %>
    <% end %>

    <div>Jobs</div>
    <a class="geocode">Geocode Banks</a>
    <a class="import-csv">Import CSV</a>
    <a class="destroy-all">Delete All</a>
  </nav>

  <input type="search" class="search" placeholder="Filter" />
  <button>new</button>
  <data>

  </data>
</main>
