<!DOCTYPE html>
<html>
<head>
  <title>Catcalled Admin</title>
  <%= stylesheet_link_tag    "admin/admin", :media => "all" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBcq8Nd1O5gj7YSfm89HKvARUrtycuzb58&sensor=true"></script>
  <%= javascript_include_tag "admin/admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>The Admin</h1>

  <%= yield %>

</body>
</html>
