<!DOCTYPE html>
<html>
<head>
  <title>Banksearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>It's Bank-Search Time!</h1>

  <%= yield %>

</body>
</html>
